 <footer>
      <div class="uk-container">
        <h2 class="heading uk-text-center">КОНТАКТНАЯ ИНФОРМАЦИЯ</h2>
        <div class="uk-grid uk-child-width-1-1 uk-grid-small footer-grid uk-child-width-1-2@m">
          <div>
            <div class="item"><span uk-icon="home"></span>
              <div class="text">
                <h5>Адрес  </h5>
                <p>г. Бишкек ул. Гражданская 43/1</p>
              </div>
            </div>
            <div class="item"><span uk-icon="clock"></span>
              <div class="text">
                <h5>Адрес  </h5>
                <p>г. Бишкек ул. Гражданская 43/1</p>
              </div>
            </div>
            <div class="item"><span uk-icon="receiver"></span>
              <div class="text">
                <h5>Адрес  </h5>
                <p>г. Бишкек ул. Гражданская 43/1</p>
              </div>
            </div>
            <div class="item"><span uk-icon="mail"></span>
              <div class="text">
                <h5>Адрес  </h5>
                <p>г. Бишкек ул. Гражданская 43/1</p>
              </div>
            </div>
          </div>
          <div>
            <div class="map-wrapper">
              <iframe width="100%" height="100%" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=1%20Grafton%20Street%2C%20Dublin%2C%20Ireland+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
          </div>
        </div>
        <p class="copyright">Все права на книги принадлежат их авторам. Если Вы автор той или иной книги и не желаете , чтобы книга была опубликована на этом сайте , сообщите нам.</p>
      </div>
    </footer>