<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Document</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Page description">
    <meta name="keywords" content="page, keywords">
    <meta name="theme-color" content="#000000">
    <meta name="copyright" content="Author">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000000">
    <meta name="apple-mobile-web-app-title" content="Application Name">
    <meta name="msapplication-TileImage" content="img/favicons/144x144.png">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="shortcut icon" href="img/favicons/64x64.png" type="image/png">
    <link rel="icon" href="img/favicons/152x152.png" type="image/png" sizes="152x152">
    <link rel="icon" href="img/favicons/256x256.png" type="image/png" sizes="256x256">
    <link rel="icon" href="img/favicons/512x512.png" type="image/png" sizes="512x512">
    <link rel="apple-touch-icon" href="img/favicons/152x152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="img/favicons/256x256.png" sizes="256x256">
    <link rel="apple-touch-icon" href="img/favicons/512x512.png" sizes="512x512">
    <link rel="manifest" href="manifest.json">
  </head>
  <body>
    <header>
      <div class="top-line">
        <div class="uk-navbar-container">
          <div class="uk-container">
            <div class="uk-navbar">
              <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                  <li><a class="logo" href="#"><img src="img/png/logo.png" alt=""></a></li>
                </ul>
              </div>
              <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                  <li><a class="phone-number" href=""><i uk-icon="receiver"></i><span>+996 312 36 55 71</span></a></li>
                  <li class="uk-flex uk-flex-middle"><a class="phone-order" href="#modal-sections" uk-toggle="">Заказать звонок</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="middle uk-container">
        <h1>Федерация органического движения "BIO-KG"</h1>
        <h3>Развитие органического сельского хозяйства в Кыргызской Республике</h3>
      </div>
      <div class="bottom">
        <nav class="uk-navbar-container uk-visible@m">
          <div class="uk-container">
            <div class="uk-navbar-center uk-flex-center">
              <ul class="uk-navbar-nav">
                <li><a href="">Новости</a></li>
                <li><a href="">О фонде</a></li>
                <li><a href="">Галерея</a></li>
                <li><a href="">Проекты</a></li>
                <li><a href="">Отзывы</a></li>
                <li><a href="">Контакты</a></li>
                <li><a href="">Видео</a></li>
                <li><a href="">Блог              </a></li>
              </ul>
              <div class="uk-position-relative"><a class="uk-navbar-toggle search-icon" href="#" uk-search-icon=""></a>
                <div class="uk-navbar-dropdown" uk-drop="mode: click; cls-drop: uk-navbar-dropdown; boundary: !nav">
                  <div class="uk-grid-small uk-flex-middle" uk-grid="">
                    <div class="uk-width-expand">
                      <form class="uk-search uk-search-navbar uk-width-1-1">
                        <input class="uk-search-input" type="search" placeholder="Search..." autofocus="">
                      </form>
                    </div>
                    <div class="uk-width-auto"><a class="uk-navbar-dropdown-close" href="#" uk-close=""></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
        <div class="mob-nav uk-hidden@m">
          <div class="uk-container">
            <nav class="uk-navbar uk-navbar-container uk-margin">
              <div class="uk-navbar-right"><a href="#" uk-navbar-toggle-icon></a>
                <div uk-dropdown="&quot;pos: bottom-center; mode: click">
                  <ul class="uk-nav uk-dropdown-nav">
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">О фонде</a></li>
                    <li><a href="#">Галерея</a></li>
                    <li><a href="#">Проекты</a></li>
                    <li><a href="#">Отзывы</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Видео</a></li>
                    <li><a href="#">Блог</a></li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <div id="modal-sections" uk-modal="">
      <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close=""></button>
        <form class="uk-padding">
          <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="Ваше имя">
          </div>
          <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="Ваш телефон">
          </div>
          <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="Email">
          </div>
          <button class="k-button uk-button-primary">Отправить </button>
        </form>
      </div>
    </div>
    <section class="home">
      <div class="uk-container">
        <div class="first-wrapper">
          <h2 class="heading">ПРИНЦИПЫ ОРГАНИЧЕСКОГО СЕЛЬСКОГО ХОЗЯЙСТВА</h2>
          <p>ПРОДВИЖЕНИЕ ОРГАНИЧЕСКОГО СЕЛЬСКОГО ХОЗЯЙСТВА, КАК СТРАТЕГИЧЕСКОГО ВЕКТОРА РАЗВИТИЯ ЭКОНОМИКИ КЫРГЫЗСКОЙ РЕСПУБЛИК СОГЛАСНО ПРИНЦИПАМ ЗДОРОВЬЯ, ЭКОЛОГИИ, ЧЕСТНОСТИ, ЗАБОТЫ.</p>
          <div class="uk-grid uk-child-width-1-1 uk-grid-small home-grid uk-child-width-1-2@m">
            <div>
              <div class="item"><img class="icon" src="img/png/health-icon.png" alt="">
                <div>
                  <h4>Принцип здоровья</h4>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit veniam minima sint laboriosam vitae laudantium quos quam ducimus ea id, eaque quisquam voluptates, rerum quia vero quae magni. Quasi iste obcaecati vel nobis dolores ea, quae voluptates qui? Veritatis, optio non recusandae temporibus aut explicabo animi facilis vitae assumenda maxime.</p>
                </div>
              </div>
            </div>
            <div>
              <div class="item"><img class="icon" src="img/png/health-icon.png" alt="">
                <div>
                  <h4>Принцип здоровья</h4>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit veniam minima sint laboriosam vitae laudantium quos quam ducimus ea id, eaque quisquam voluptates, rerum quia vero quae magni. Quasi iste obcaecati vel nobis dolores ea, quae voluptates qui? Veritatis, optio non recusandae temporibus aut explicabo animi facilis vitae assumenda maxime.</p>
                </div>
              </div>
            </div>
            <div>
              <div class="item"><img class="icon" src="img/png/health-icon.png" alt="">
                <div>
                  <h4>Принцип здоровья</h4>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit veniam minima sint laboriosam vitae laudantium quos quam ducimus ea id, eaque quisquam voluptates, rerum quia vero quae magni. Quasi iste obcaecati vel nobis dolores ea, quae voluptates qui? Veritatis, optio non recusandae temporibus aut explicabo animi facilis vitae assumenda maxime.</p>
                </div>
              </div>
            </div>
            <div>
              <div class="item"><img class="icon" src="img/png/health-icon.png" alt="">
                <div>
                  <h4>Принцип здоровья</h4>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit veniam minima sint laboriosam vitae laudantium quos quam ducimus ea id, eaque quisquam voluptates, rerum quia vero quae magni. Quasi iste obcaecati vel nobis dolores ea, quae voluptates qui? Veritatis, optio non recusandae temporibus aut explicabo animi facilis vitae assumenda maxime.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="numbers-wrapper">
          <div class="uk-grid uk-child-width-1-1 uk-grid-small uk-child-width-1-4@l uk-child-width-1-2@s">
            <div>
              <div class="number-item">
                <h4>22 села</h4>
                <h5>в "Органических аймаках"</h5>
                <p>в настоящий момент "лечат" свои земли от многолетнего воздействия химикатами и пестицидами</p>
              </div>
            </div>
            <div>
              <div class="number-item">
                <h4>22 села</h4>
                <h5>в "Органических аймаках"</h5>
                <p>в настоящий момент "лечат" свои земли от многолетнего воздействия химикатами и пестицидами</p>
              </div>
            </div>
            <div>
              <div class="number-item">
                <h4>22 села</h4>
                <h5>в "Органических аймаках"</h5>
                <p>в настоящий момент "лечат" свои земли от многолетнего воздействия химикатами и пестицидами</p>
              </div>
            </div>
            <div>
              <div class="number-item">
                <h4>22 села</h4>
                <h5>в "Органических аймаках"</h5>
                <p>в настоящий момент "лечат" свои земли от многолетнего воздействия химикатами и пестицидами</p>
              </div>
            </div>
          </div>
        </div>
        <div class="project-wrapper">
          <h2 class="heading">ПРОЕКТЫ BIO-KG</h2>
          <p>С 2012 года ФОД "BIO-KG" реализует уже несколько проектов по продвижению органического сельского хозяйства в Кыргызской Республик</p>
          <div class="uk-grid uk-child-width-1-1 uk-grid-small uk-child-width-1-3@m">
            <div>
              <div class="project-item">
                <div class="uk-cover-container"><img src="img/jpg/veg.jpg" alt="" uk-cover>
                  <div class="text">
                    <h3>Международный Органический Форум, Бишкек-2014</h3>
                    <p>Международный Органический Форум, Бишкек-2014 Проект: Международный органический Фору...</p><a class="more" href="">Подробнее</a>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="project-item">
                <div class="uk-cover-container"><img src="img/jpg/veg.jpg" alt="" uk-cover>
                  <div class="text">
                    <h3>Международный Органический Форум, Бишкек-2014</h3>
                    <p>Международный Органический Форум, Бишкек-2014 Проект: Международный органический Фору...</p><a class="more" href="">Подробнее</a>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="project-item">
                <div class="uk-cover-container"><img src="img/jpg/veg.jpg" alt="" uk-cover>
                  <div class="text">
                    <h3>Международный Органический Форум, Бишкек-2014</h3>
                    <p>Международный Органический Форум, Бишкек-2014 Проект: Международный органический Фору...</p><a class="more" href="">Подробнее</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-wrapper">
          <div class="uk-position-relative uk-visible-toggle uk-light" uk-slider="">
            <ul class="uk-slider-items uk-child-width-1-1">
              <li>
                <div class="item">
                  <div class="uk-cover-container"><img src="img/jpg/person.jpg" alt="" uk-cover></div>
                  <h4>Ширдаков Тынчтык, фермер Органического Аймака Арал, Тюпский район, Иссык-Куль</h4>
                  <p>«Сельское хозяйство является самым сильным инструментом создания сообщества, которого я знаю. Я люблю то, что я вижу от нашего сообщества фермеров здесь, в Органическом Аймаке Арал, и прочные связи, которые сложились между фермерами. Сельское хозяйство всегда было тем, что объединяет людей, и я рад что нас объединяет органическое, полезное и здоровое сельское хозяйство»</p>
                </div>
              </li>
              <li>
                <div class="item">
                  <div class="uk-cover-container"><img src="img/jpg/person.jpg" alt="" uk-cover></div>
                  <h4>Ширдаков Тынчтык, фермер Органического Аймака Арал, Тюпский район, Иссык-Куль</h4>
                  <p>«Сельское хозяйство является самым сильным инструментом создания сообщества, которого я знаю. Я люблю то, что я вижу от нашего сообщества фермеров здесь, в Органическом Аймаке Арал, и прочные связи, которые сложились между фермерами. Сельское хозяйство всегда было тем, что объединяет людей, и я рад что нас объединяет органическое, полезное и здоровое сельское хозяйство»						</p>
                </div>
              </li>
            </ul><a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous="" uk-slider-item="previous"></a><a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next="" uk-slider-item="next"></a>
            <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
          </div>
        </div>
        <div class="gallery-wrapper">
          <h2 class="heading">ГАЛЕРЕЯ BIO-KG</h2>
          <p>В этом разделе отражены фотоотчеты с основных мероприятий, проводимых в процессе работы по развитию ОСХ в Кыргызстане и повышению осведомленности об ОСХ среди граждан</p>
          <div class="uk-child-width-1-3@m uk-grid-small lightbox" uk-grid="" uk-lightbox="animation: slide">
            <div><a class="uk-inline" href="img/jpg/1.jpg" data-caption="Caption 1"><img src="img/jpg/1.jpg" alt=""></a></div>
            <div><a class="uk-inline" href="img/jpg/1.jpg" data-caption="Caption 2"><img src="img/jpg/1.jpg" alt=""></a></div>
            <div><a class="uk-inline" href="img/jpg/1.jpg" data-caption="Caption 3"><img src="img/jpg/1.jpg" alt=""></a></div>
          </div>
        </div>
        <div class="partners-wrapper">
          <h2 class="heading">ПАРТНЕРЫ</h2>
          <div class="uk-position-relative uk-visible-toggle uk-light" uk-slider="">
            <ul class="uk-slider-items uk-child-width-1-1 uk-child-width-1-4@l uk-child-width-1-2@s">
              <li><a class="item" href=""><img src="img/jpg/par1.jpg" alt=""></a></li>
              <li><a class="item" href=""><img src="img/jpg/par1.jpg" alt=""></a></li>
              <li><a class="item" href=""><img src="img/jpg/par1.jpg" alt=""></a></li>
              <li><a class="item" href=""><img src="img/jpg/par1.jpg" alt=""></a></li>
              <li><a class="item" href=""><img src="img/jpg/par1.jpg" alt=""></a></li>
            </ul><a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous="" uk-slider-item="previous"></a><a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next="" uk-slider-item="next"></a>
            <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="uk-container">
        <h2 class="heading uk-text-center">КОНТАКТНАЯ ИНФОРМАЦИЯ</h2>
        <div class="uk-grid uk-child-width-1-1 uk-grid-small footer-grid uk-child-width-1-2@m">
          <div>
            <div class="item"><span uk-icon="home"></span>
              <div class="text">
                <h5>Адрес  </h5>
                <p>г. Бишкек ул. Гражданская 43/1</p>
              </div>
            </div>
            <div class="item"><span uk-icon="clock"></span>
              <div class="text">
                <h5>Адрес  </h5>
                <p>г. Бишкек ул. Гражданская 43/1</p>
              </div>
            </div>
            <div class="item"><span uk-icon="receiver"></span>
              <div class="text">
                <h5>Адрес  </h5>
                <p>г. Бишкек ул. Гражданская 43/1</p>
              </div>
            </div>
            <div class="item"><span uk-icon="mail"></span>
              <div class="text">
                <h5>Адрес  </h5>
                <p>г. Бишкек ул. Гражданская 43/1</p>
              </div>
            </div>
          </div>
          <div>
            <div class="map-wrapper">
              <iframe width="100%" height="100%" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=1%20Grafton%20Street%2C%20Dublin%2C%20Ireland+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
          </div>
        </div>
        <p class="copyright">Все права на книги принадлежат их авторам. Если Вы автор той или иной книги и не желаете , чтобы книга была опубликована на этом сайте , сообщите нам.</p>
      </div>
    </footer>
    <script src="js/libs.min.js"></script>
    <script src="js/common.min.js"></script>
  </body>
</html>